/* :root{
    --bg-color: 080808;
    second-bg-color: 131313;
    text--color: white;
    main-color: 00ffee
} */

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: #080808;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 4rem 12% 4rem; */
    background: #080808;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    padding-left: 25px;
    padding-top: 25px;
}

.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: #00ffee;
    border-bottom: 3px solid #00ffee;
    text-decoration: none;
}

#menu_icon {
    font-size: 3.6rem;
    color: #00ffee;
    display: none;
}

.section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin: 20px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 12px;
    padding-left: 100px;
}

span {
    color: white
}

.logo span {
    color: 00ffee;
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
}

.home-content p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid #00ffee;
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    color: #00ffee;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: #00ffee;
    color: #080808;
    font-size: 1.8rem;
    padding: 1.2rem 3rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 2rem;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background: #00cccc;
    color: white;
    text-decoration: none;
}

.heading {
    font-size: 8rem;
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
    background: #131313;
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap;  */
    position: relative;
}

.timeline-item {
    margin-bottom: 40px;
    margin-left: 40px;
    /* padding-left: 40px; */
    width: 100%;
    position: relative;
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #00ffee;
    position: absolute;
    left: -10px;
    top: 10px;
    border-radius: 50%;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
    padding-left: 20px;
}

.timeline-content {
    background-color: #080808;
    border: 3px solid #00ffee;
    border-radius: 10px;
    padding: 30px 50px;
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
}

.timeline-content p {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.services {
    background: #131313;
    color: black;
    margin: 100px;
}

.services h2 {
    margin-bottom: 5rem;
    color: white;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3.5rem 0;
}

.service-box {
    background-color: #00ffee;
    height: 150px;
    border-radius: 3rem;
    border: 5px solid transparent;
    margin: 0px 40px;
    /* margin-right: -10px; */
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 150px;
    justify-content: left;
    /* align-items: baseline; */
    /* padding: 5rem 5rem; */
}

.service-info h4 {
    padding-left: 60px;
    font-size: 2rem;
    /* font-weight: 800; */
    line-height: 0.5;
}

.service-info p {
    padding-left: 20px;
    font-size: 1.6rem;
    /* font-weight: 600; */
    max-height: 100px;
    margin: auto;
}

/* capstone */
.capstone {
    padding: 80px 10%;
    background-color: #080808;
}

.capstone-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.capstone-box {
    background: #00ffee;
    padding: 15px;
    border-radius: 15px;

}

.capstone-box h4 {
    font-size: 18px;
    padding-left: 60px;
    color: #080808;
}

.capstone-box p {
    color: #080808;
    font-size: 14px;
}

.capstone-box a {
    display: inline-block;
    margin: 6px;
    background-color: #080808;
    color: #00ffee;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;

}

.capstone-box a:hover {
    background-color: #00cccc;
    color: white;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #131313;
}

.footer .social {
    text-align: center;
    padding-bottom: 5px;
    color: #00ffee;
}

.footer .social a {
    font-size: 25px;
    color: #00ffee;
    border: 2px solid #00ffee;
    width: 42px;
    height: 42px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
}